/* 상자 프리셋 */
.box{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    /* ㄴ 분리시킨이유: 다른곳에서 border: blue를 하면 다른값도 초기화됨 유지보수시 불편 */
    width: 200px;
    height: 200px;
    background-color: white;
}
.box.big{
    /* ㄴ 하나의 태그에 클래스가 두개(box와 big) */
    width: 400px;
    height: 400px;
}
.box.wide{
    width: 400px;
}

.box.yellow{
    background-color: gold;
}
.box.red{
    background-color: tomato;
}
.box.blue{
    background-color: cornflowerblue;
}
/* 테이블 프리셋 */
.table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
.table th, .table td{
    border: 1px solid black;
}

.table.sprite tr:nth-child(odd){
    background-color: azure;
    /* ㄴ 홀수인애들만 */
}